In [12]:
import pandas as pd

# CP949 >> ANSI
df = pd.read_csv('../data/2019년화재.csv', encoding = 'cp949', index_col = '연번')

df.head(2)

,사망,부상,인명피해(명)소계,재산피해소계,화재발생년월일,시도,시군구,읍면동,화재유형,발화열원,발화열원소분류,발화요인대분류,발화요인소분류,최초착화물대분류,최초착화물소분류,장소대분류,장소중분류,장소소분류
연번,,,,,,,,,,,,,,,,,,
1,0,1,1,0,2019-01-01 0:03,강원도,삼척시,오분동,기타(쓰레기 화재등),"폭발물, 폭죽",폭죽,부주의,폭죽놀이,"종이,목재,건초등","풀, 나뭇잎",기타,야외,기타야외
2,0,0,0,14900,2019-01-01 0:06,경기도,평택시,안중읍,"건축,구조물",미상,미상,미상,미상,미상,미상,주거,단독주택,단독주택

In [14]:
df.tail(1)

,사망,부상,인명피해(명)소계,재산피해소계,화재발생년월일,시도,시군구,읍면동,화재유형,발화열원,발화열원소분류,발화요인대분류,발화요인소분류,최초착화물대분류,최초착화물소분류,장소대분류,장소중분류,장소소분류
연번,,,,,,,,,,,,,,,,,,
40103,0,0,0,3879,2019-12-31 23:18,인천광역시,남동구,고잔동,"건축,구조물",작동기기,전기적 아크(단락),전기적 요인,"압착,손상에 의한 단락","전기,전자",전선피복,산업시설,공장시설,"전기, 전자공업"

In [15]:
# DataFrame의 행과 열의 크기를 반환
df.shape

(40103, 18)

In [16]:
# DataFrame의 구조에 대한 요약 정보를 제공
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40103 entries, 1 to 40103
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사망         40103 non-null  int64
 1   부상         40103 non-null  int64
 2   인명피해(명)소계  40103 non-null  int64
 3   재산피해소계     40103 non-null  int64
 4   화재발생년월일    40103 non-null  object
 5   시도         40103 non-null  object
 6   시군구        40103 non-null  object
 7   읍면동        40103 non-null  object
 8   화재유형       40103 non-null  object
 9   발화열원       40103 non-null  object
 10  발화열원소분류    40103 non-null  object
 11  발화요인대분류    40103 non-null  object
 12  발화요인소분류    40103 non-null  object
 13  최초착화물대분류   40103 non-null  object
 14  최초착화물소분류   40103 non-null  object
 15  장소대분류      40103 non-null  object
 16  장소중분류      40103 non-null  object
 17  장소소분류      40103 non-null  object
dtypes: int64(4), object(14)
memory usage: 5.8+ MB

In [17]:
# NaN 값을 제외하고 데이터 세트 분포의 중심 경향, 분산 및 모양을 요약하는 기술통계가 포함
# 평균은 보고용 / 집단 간의 비교는 중앙값 or 그래프(histogram)를 통해 분포
df.describe()

                 사망            부상     인명피해(명)소계        재산피해소계
count  40103.000000  40103.000000  40103.000000  4.010300e+04
mean       0.007107      0.055607      0.062714  2.140728e+04
std        0.093552      0.510525      0.537258  8.623230e+05
min        0.000000      0.000000      0.000000  0.000000e+00
25%        0.000000      0.000000      0.000000  9.900000e+01
50%        0.000000      0.000000      0.000000  5.280000e+02
75%        0.000000      0.000000      0.000000  3.106000e+03
max        3.000000     56.000000     59.000000  1.185201e+08